<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :post_id %>
  <div class="row mb-2">
    <div class="col-md-6">
      <%= form.text_field :full_name,placeholder:"Full name", class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.email_field :email, placeholder:"Email", class:"form-control"%>
    </div>
  </div>
  <%= form.text_area :message , placeholder:"write your thought here..", class:"comment-input"%>
  <div class="actions">
    <%= form.submit class:"btn primary"%>
   </div>
 <% end %>