<div class="container my-5">
  <div class="row">
    <div class="mx-auto col-md-8 text-secondary text-center">
      <h1 class="font-weight-bold text-dark"><%=@post.title%></h1>
      <div class="my-3 d-flex align-items-center author-block">
        <div class="d-flex align-items-center">
        <small class="ml-2">
          <a class="d-block aname"><%= @post.user.full_name%></a>
        </small>
      </div>
      <div class="blog-posting-time">
        <small><%= time_ago(@post.created_at)%></small>
      </div>
      <div class="text-primary social-icons">
         <a href="/#" class="mx-1">
           <i class="fa fa-twitter"></i>
         </a>
         <a href="/#" class="w-6 mx-1">
           <i class="fa fa-facebook"></i>
         </a>
         <a href="/#" class="w-6 mx-1">
           <i class="fa fa-linkedin"></i>
         </a>
      </div>
      </div>
    </div>
    <div class="mx-auto col-md-8">
      <%if @post.thumbnail?%>
        <%= image_tag(@post.thumbnail.url, class:"w-100 my-3")%><br>
      <%end%>
    </div>
  </div>  
  <div style="max-width: 700px; top: -80px;" class="mx-auto text-secondary">
    <p class="my-2" style="line-height: 2;"><%=@post.content%></p>
    <br>
    <br>
    <div class="my-3">
      <small>
          <%@tags.each do |tag|%>
            #<%=tag.name%>
          <%end%>  
      </small>
    </div>
  </div>
</div>
<div class="container" id="comments">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="block">
        <div class="block-header">
          <div class="title">
            <h2>Comments <%=@post.comments.count%></h2>
          </div>
        </div>
        <div class="writing">
         <%= render "comments/form", comment: @comment, class:"btn primary" %>
          <div class="footer">
            <div class="group-button">
              <button class="btn"><i class="ri-at-line"></i></button>
            </div>
          </div>
        </div>
        <div class="comment">
          <%- @post.comments.each  do|comment|%>
          <div class="user-banner">
            <div class="user">
              <div class="avatar">
                <div class="init-avatar avatar"><%= comment.full_name%></div>
              </div>
              <h5><%= comment.full_name%></h5>
            </div>
            <button class="btn dropdown"><i class="ri-more-line"></i></button>
          </div>
          <div class="content">
            <p><%= (comment.message)%></p>
            <div><span class="is-mute"><%=(comment.created_at)%></span></div>
          </div>
          <%end%>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
