<%= link_to "Create New Tag",new_admin_tag_path%>
<h1> All Tag here</h1>
<table id="table">
  <tr>
    <th>Tag Name</th>
    <th>Create at</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
  <%@tags.each do |tag|%>
    <td><%=tag.name%></td>
    <td><%=time_ago(tag.created_at)%></td>
    <td><%= status_conversion(tag.in_use?)%></td>
    <td>
      <% if tag.in_use? %>
        <%= link_to "Edit", :disabled => tag.in_use? %>
        <%= link_to "Delete", :disabled => tag.in_use? %>
      <% else %>
        <%= link_to "Edit", edit_admin_tag_path(tag)%>
        <%= link_to "Delete", admin_tag_path(tag), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </td>
  </tr>
  <%end%>
</table>
<%= will_paginate @tags %>


<%= form_for ([:admin, @tag]) do |f|%>
  <%= render :partial => "layouts/validations", :locals => { :object => @tag } %>
  <%= f.label :name %>
  <%= f.text_area :name %><br>
  <%= f.submit %>
<% end %>






  <div class="row">
  	          	<div class="col-md-4 dashboard-left-cell">
  	          		<div class="admin-content-con">
  	          			<header>
  	          				<h5>Create tags</h5>
  	          			</header>

  	          			<%= form_for ([:admin, @tag]) do |f|%>
  	          				<div class="form-group">
  	          					<label>Add comma separated tags below</label>
  	          					<p>
                          <%= f.text_area :name, class: "form-control"%>
                        </p>
  	          					<p>
                          <%= f.submit class: "btn btn-large btn-block btn-primary" %>
                        </p>
  	          				</div>
  	          			<% end %>
  	          		</div>
  	          	</div>

  	          	<div class="col-md-8 dashboard-right-cell">
  	          		<div class="admin-content-con">
  	          			<header>
  	          				<h5>Tags</h5>
  	          			</header>

  	          			<table class="table table-striped table-hover">
  	          				<thead>
  	          					<tr>
  	          						<th>Name</th>
  	          						<th>Status</th>
  	          						<th>Created</th>
  	          						<th>Actions</th>
  	          					</tr>
  	          				</thead>
  	          				<tbody>
  	          					<tr>
                        <% @tags.each do |tag| %>
  	          						<td><%= tag.name %></td>
  	          						<td><span class="label label-success"><%= status_conversion(tag.in_use?)%></span></td>
  	          						<td><%=time_ago(tag.created_at)%></td>
  	          						<td>
                            <% if tag.in_use? %>
                              <%= link_to "Edit", :disabled => tag.in_use?, class: "btn btn-xs btn-warning" %>
                              <%= link_to "Delete", :disabled => tag.in_use?, class: "btn btn-xs btn-danger disabled"%>
                            <% else %>
                              <%= link_to "Edit", edit_admin_tag_path(tag), class: "btn btn-xs btn-warning"%>
                              <%= link_to "Delete", admin_tag_path(tag), data: { turbo_method: :delete, turbo_confirm: "Are you sure?", class:"btn btn-xs btn-danger disabled" } %>
                            <% end %>
                          </tr>
                        <%end%>
                      </div>
