<div id="content">
        <header class="clearfix">
          <h2 class="page_title">General blog settings</h2>
        </header>

        <div class="content-inner">
          <div class="row">
          	<div class="col-md-6">
          		<%= form_for ([:admin, @setting]) do |f| %>
          			<div class="settings-row">
          				<h3>Site name</h3>
          				<p>This is permanently shown on the top left corner of navigation</p>
          				<div class="form-group">
          					<%= f.text_field :blog_name, class: "form-control"%>
          				</div>
          			</div>
                <div class="settings-row">
                  <h3>About</h3>
                  <p>This is permanently shown on the home page</p>
                  <div class="form-group">
                    <%= f.text_field :about, class: "form-control"%>
                  </div>
                </div>

          			<div class="settings-row">
          				<h3>Posts per page</h3>
          				<p>Control total number of blogs shown on the blog index page.</p>
          				<div class="form-group">
          					<%= f.number_field :post_per_page, class:"form-control small-input"%>
          				</div>
          			</div>

          			<div class="settings-row">
          				<h3>Under maintenance</h3>
          				<p>Redirect all requests to a a holding page.</p>
          				<div class="checkbox">
          					<%= f.label :blog_is_under_maintenance %>
                    <%= f.label :if_maintenance, "Yes", value: "true"  %>
                    <%= f.radio_button :if_maintenance, true %>
                    <%= f.label :if_maintenance, "No", value: "false"  %>
                    <%= f.radio_button :if_maintenance, false %>
          				</div>
          			</div>
          			<%= f.submit class:"btn btn-primary pull-right" %>
          		<%end%>
          	</div>
          </div>
        </div>

      <div class="row">
        <footer id="admin-footer" class="clearfix">
          <div class="pull-left"><b>Copyright </b>&copy; 2022</div>
          <div class="pull-right">admin system</div>
        </footer>
      </div>
    </div>
  </div>
</div>

