<div id="dashboard-con">
  <div class="row">
    <div class="col-md-12 dashboard-left-cell">
      <div class="admin-content-con">
        <header class="clearfix">
          <h5 class="pull-left">Post</h5>
          <%=link_to "Create New Post", new_admin_post_path, class:"btn btn-xs btn-primary pull-right" %>

        </header>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <%@posts.each do |post|%>
              <td><%=post.title%></td>
              <td><%=time_ago(post.created_at) %></td>
              <td><%=link_to "Show",admin_post_path(post), class:"btn btn-xs btn-primary"%>
              <%=link_to "Edit", edit_admin_post_path(post), class: "btn btn-xs btn-warning"%>
              <%= link_to "Delete", admin_post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-xs btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="clearfix">
          <%= link_to "View all Post", admin_posts_path, class:"pull-right text-link"%> 
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12">
      <div class="admin-content-con clearfix">
        <header>
          <h5>Commenters</h5>
        </header>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            <%@comments.each do |comment|%>  
              <td><%= comment.full_name%></td>
              <td><%= comment.email%></td>
              <td><%if comment.status?%>
                    <span class="label label-success">
                    <%= publish_status_conversion(comment.status)%>
                  <%else%>
                    <span class="label label-warning">
                    <%= publish_status_conversion(comment.status)%>
                  <%end%> </td>
              <td><%=comment.created_at.strftime("%A %I:%M%P - %d/%m/%Y")%></td>
              <td><%= link_to "Delete", admin_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-xs btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <footer id="admin-footer" class="clearfix">
    <div class="pull-left"><b>Copyright </b>&copy; 2022</div>
    <div class="pull-right">admin system</div>
  </footer>
</div>
