<div id="dashboard-con">
  <div class="row">
    <div class="col-md-6 dashboard-left-cell">
      <div class="admin-content-con">
        <header class="clearfix">
          <h5 class="pull-left">Post</h5>
          <%=link_to "Create New Post", new_admin_post_path, class:"btn btn-xs btn-primary pull-right" %>

        </header>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>title</th>
              <th>date</th>
              <th>actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <%@posts.each do |post|%>
              <td><%=post.title%></td>
              <td><%=time_ago(post.created_at) %></td>
              <td><%=link_to "Show",admin_post_path(post), class:"btn btn-xs btn-primary"%>
              <%=link_to "Edit", edit_admin_post_path(post), class: "btn btn-xs btn-warning"%>
              <%= link_to "Delete", admin_post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-xs btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="clearfix">
          <a href="#" class="pull-right text-link">view all post</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 dashboard-right-cell">
      <div class="admin-content-con">
        <header>
          <h5>Comments</h5>
        </header>
        <% @comments.each do |comment| %>
        <div class="comment-head-dash clearfix">
          <b><%= comment.full_name %></b>
          <div class="days-dash pull-right"><%= time_ago(comment.created_at)%></div>
        </div>
        <p class="comment-dash">
          <%= comment.message %>
        </p>
        <small class="comment-date-dash"></small>
        <% end %>


        <hr>

        <div class="clearfix">
          <a href="#" class="pull-right text-link">view all comments</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="admin-content-con clearfix">
        <header>
          <h5>Commenters</h5>
        </header>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>Kingsley Ijomah</td>
              <td>kingsley.ijomah@example.com</td>
              <td><a href="#" class="label label-default">pending</a></td>
              <td>Today 5:60pm - 14/09/2015</td>
              <td><a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kingsley Ijomah</td>
              <td>kingsley.ijomah@example.com</td>
              <td><a href="#" class="label label-success">active</a></td>
              <td>Today 5:60pm - 14/09/2015</td>
              <td><a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kingsley Ijomah</td>
              <td>kingsley.ijomah@example.com</td>
              <td><a href="#" class="label label-success">active</a></td>
              <td>Today 5:60pm - 14/09/2015</td>
              <td><a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Kingsley Ijomah</td>
              <td>kingsley.ijomah@example.com</td>
              <td><a href="#" class="label label-success">active</a></td>
              <td>Today 5:60pm - 14/09/2015</td>
              <td><a href="#" class="label label-danger">Delete</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <footer id="admin-footer" class="clearfix">
    <div class="pull-left"><b>Copyright </b>&copy; 2015</div>
    <div class="pull-right">admin system</div>
  </footer>
</div>
