<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 profile">
      <aside>
        <div class="clearfix">
          <img src="img/dog.jpg" alt="dog image" class="img-circle profile-image">

          <div class="profile-content">
            <h4>Kingsley Ijomah</h4>
            <p>Software Eng. @CODEHANCE</p>
            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 264px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.c4bdc17e77719578b594d5555bee90db.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=kingsleyijomah&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1664171406383" data-screen-name="kingsleyijomah"></iframe>
          </div>

          <hr class="hidden-xs hidden-sm">

          <div class="social-icons">
            <p>Share this page:</p>
            <ul class="clearfix">
              <li><img src="img/social_icons/twitter.png"></li>
              <li><img src="img/social_icons/facebook.png"></li>
              <li><img src="img/social_icons/linkedin.png"></li>
              <li><img src="img/social_icons/googleplus.png"></li>
              <li><img src="img/social_icons/pinterest.png"></li>
              <li><img src="img/social_icons/email.png"></li>
            </ul>
          </div>
        </div>

        <hr class="hidden-md hidden-lg">

      </aside>
    </div>

    <div class="col-md-8">
      <article>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing</h1>
        <div class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </article>

      <div id="comments">
        <h2>Comments</h2>
        <div class="row">
          <div class="col-md-11">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <footer>
              <small><b>Kingsley Ijomah</b> Commented on: 8 Jan 2015</small>
            </footer>
            <hr>
          </div>
          <div class="col-md-1 comment-num">01</div>
        </div>

        <form>
          <h3>Have your say</h3>
          <p>
            <label class="sr-only">Message</label>
            <textarea class="form-control" placeholder="Message" id="message" required="" autocomplete="false"></textarea>
          </p>

          <p>
            <label class="sr-only">Full Name</label>
            <input type="text" class="form-control" placeholder="Full Name" required="">
          </p>

          <p>
            <label class="sr-only">Email Address</label>
            <input type="email" class="form-control" placeholder="Email Address" required="">
          </p>

          <p><input type="submit" class="btn btn-primary" value="Send Message"></p>
        </form>
      </div>
    </div>
  </div>
</div>

<h1>Details of User</h1>
<%= image_tag @user.avatar.url  %><br>
Full Name: <%= @user.full_name%><br>
About    : <%= @user.about%><br>
Email: <%= @user.email%><br>
Create_at: <%= time_ago_in_words(@user.created_at)%> ago<br>

<hr>
<%=link_to "Back", admin_users_path%>
